{% extends 'layouts/main.html' %}
{% block content%}
	<div class="card question">
		<div class="card-body">
    		<h5 class="card-title question-title">Atoms</h5>
    		<p class="card-text">Why atoms are tiny?</p>
		</div>
	</div>
	<div class="card question">
		<div class="card-body">
    		<h5 class="card-title question-title">Atoms</h5>
    		<p class="card-text">Why atoms are tiny?</p>
		</div>
	</div>
	<div class="card question">
		<div class="card-body">
    		<h5 class="card-title question-title">Atoms</h5>
    		<p class="card-text">Why atoms are tiny?</p>
		</div>
	</div>
	<div class="card question">
		<div class="card-body">
    		<h5 class="card-title question-title">Atoms</h5>
    		<p class="card-text">Why atoms are tiny?</p>
		</div>
	</div>
{% endblock %}